@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Raleway:100,200,300,400,500,600,700');

/*----------------------Colors----------------------*/

.bg-color-name-title {
    background-color: #676767;
}

.ui-menu-color-home {
 background-color: #f6a709;   
}

.ui-menu-color-resume {
 background-color: purple;   
}

.ui-menu-color-contact {
 background-color: aqua;   
}

.ui-menu-color-download {
 background-color: #26ec7c;   
}
/*----------------------Header------------------------*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../Images/me.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: white;
    height: 120px;
} 

.menuitem a i {
    padding-top: 22px;
    color: #fafafa;
    display: block;
    font-size: 26px;
}

.menuitem span {
    padding-top: 5px;
    width: 100%;
    text-transform: uppercase;
    font-size: 26px;
    display: block;
    font-weight: 300;
    letter-spacing: 2px;
    /* did not add "text-align: center;" due to it already being aligned center in ".menuitem" */
}

/*----------------------Header------------------------*/

.hvr-sweep-to-bottom:before /*usinging inspect tool with the hover state toggled. It's in the before pseudo element where the background color is set for our hover sweep to bottom class. */ {
    background-color: rgba(0,0,0,0.2);
    height: 120px;
}